{{attach_library('banner_module/global-library')}}
{{attach_library('banner_module/banner-slick')}}

<div class="your-class">
	{% for el in slide %}
		<div class="image-container">
			<img src="{{ el.getRelativeUrl }}"/>
		</div>
	{% endfor %}
	<div class="image-container">
		<img src="https://picsum.photos/id/20/1600/400"/>
	</div>
	<div class="image-container">
		<img src="https://picsum.photos/id/35/1600/400"/>
	</div>
	<div class="image-container">
		<img src="https://picsum.photos/id/41/1600/400"/>
	</div>
	<div class="image-container">
		<img src="https://picsum.photos/id/53/1600/400"/>
	</div>
	<div class="image-container">
		<img src="https://picsum.photos/id/64/1600/400"/>
	</div>
	<div class="image-container">
		<img src="https://picsum.photos/id/77/1600/400"/>
	</div>
	<div class="image-container">
		<img src="https://picsum.photos/id/89/1600/400"/>
	</div>
	<div class="image-container">
		<img src="https://picsum.photos/id/96/1600/400"/>
	</div>
</div>

<section class="bannerHere"></section>

<h1>Value</h1>

{% for el in slide %}
	<div class="image-container">
		{{ el.getRelativeUrl }}
	</div>
{% endfor %}
