{{attach_library('banner_module/global-library')}}
{{attach_library('banner_module/banner-slick')}}

<h1 class="text-red">Banner</h1>

{{position}}

<div class="your-class">
	<div>your content 1 </div>
	<div>your content 2 </div>
	<div>your content 3</div>
    <div>your content 4 </div>
	<div>your content 5 </div>
	<div>your content 6</div>
    <div>your content 7 </div>
	<div>your content 8 </div>
	<div>your content 9</div>
</div>

<section class="bannerHere"></section>
