{{ attach_library('banner_module/global-library') }}
<p>Test twig template!</p>

<h1 id="show-me" class="hidden">
	I hit the button
</h1>

<p class="text-danger">test_var:
	{{ test_var }}
</p>

<button class="btn btn-primary" id="hit-me">
	Hit me
</button>
