.slick-dots li.slick-active button::before {
    color: blue;
    font-size: 2vw;
}

button.slick-prev::before,
button.slick-next::before {
    color: blue;
    font-size: 6vh;
}

.banner-class {
    height: 50vh;
}

.image-container {
    position: relative;
    background-color: brown;
    width: 100%;
    height: 50vh;
}

.img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
}

.title {
    position: absolute;
    font-size: xx-large;
    font-weight: bold;
    top: 5%;
}

.description {
    position: absolute;
    text-align: justify;
    top: 50%;
    transform: translateY(-50%);
}

.left {
    left: 10%;
}

.right {
    right: 10%;
}

.center {
    left: 50%;
    transform: translateX(-50%);
}

.read-more {
    position: absolute;
    bottom: 20%;
}

.dark span {
    padding: 0.1vh 0.2vw;
    color: white;
    background-color: rgba(177, 177, 177, 0.5);
}

.light span {
    color: black;
    padding: 0.1em 0.2em;
    background-color: rgba(253, 253, 253, 0.5);
}

.read-more a:link,
.read-more a:visited,
.read-more a:hover,
.read-more a:active {
    padding: 2vh 2vw;
    text-decoration: none;
    border-radius: 2em;
    font-weight: bold;
}

.dark a {
    color: red;
    background-color: yellow;
    border: yellow;
}

.light a {
    color: white;
    background-color: blue;
    border: blue;

}